### Question 1

In [ ]:
# list of elements to calculate mean

num = [7, 20, 15, 22, 12, 30]
n = len(num)
summ = sum(num)
mean = summ/n

print("mean:" + str(mean))

mean:17.666666666666668

In [ ]:
# list of elements to calculate median

num = [7, 20, 15, 22, 12, 30]
n = len(num)
num.sort()
if n % 2 == 0:
  median1 = num[n//2]
  median2 = num[n//2-1]
  median = (median1 + median2)/2
else:
  median = num[n//2]

print("median:" + str(median))

median:17.5

In [ ]:
# First quartile (Q1)

num = [7, 20, 15, 22, 12, 30]
n = len(num)
num.sort()
Q1 = num[1*(n-1)//4+1]
print("Q1:", Q1)

Q1: 15

In [ ]:
# Third quartile (Q3)

num = [7, 20, 15, 22, 12, 30]
n = len(num)
num.sort()
Q3 = num[3*(n-1)//4+1]
print("Q3:", Q3)

Q3: 22

In [ ]:
# Interquartile Range (IQR)

IQR = Q3-Q1
print(IQR)

7

### Question 2

In [ ]:
import random
one = 0
two = 0
three = 0
four = 0
five = 0
six = 0
for i in range(10000):
  roll=random.randint(1,6)
  if roll==1:
    one+=1
  elif roll==2:
    two+=1
  elif roll==3:
    three+=1
  elif roll==4:
    four+=1
  elif roll==5:
    five+=1
  elif roll==6:
    six+=1
Total = [one, two, three, four, five, six]
Total

[1642, 1623, 1568, 1691, 1737, 1739]